body {
    background-color: #e8e7e2;
    text-align: center;
} 

.myButton {
	background-color:#768d87;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:23px 33px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
